@mixin box-ie-title-grad($o){
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000'),
         progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$o});
}

@mixin box-elements-opacity($o){
  opacity:$o;
  //filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$o*100});
}

@include exports("box"){
  /*partials/shared/components/box.scss*/
  $prefix:'.box-pop';
  $box-path:'#{$path}box/';
  #{$prefix}{
    position:fixed;
    left:-5000px;
    top:0;
    width:100%;
    height:100%;
    z-index:3;
    overflow:auto;
    &#{$prefix}-shown{
      left:0;
    }
    #{$prefix}-viewport{
      @include abs($l:20px,$r:20px,$t:20px,$b:20px);
    }
    #{$prefix}-center{
      @include abs($l:50%,$t:50%);
      @extend %bxz;
      &:hover #{$prefix}-title{
        opacity:1;
        @include trs(opacity .3s ease-in-out);
        @include box-ie-title-grad($o:100);
      }
      &#{$prefix}-bg{
        background:#eee;
      }
    }
    #{$prefix}-wrap{//the only purpose - not include paddings in zoomed mode for controls positioning
      position:relative;
      width:100%;
      height:100%;
    }
    #{$prefix}-close{
      @include abs($r:-15px,$t:-15px);
      width:30px;
      height:30px;
      background:url(#{$box-path}close.png) no-repeat;
      z-index:1;
    }
    #{$prefix}-prev,#{$prefix}-next{
      @include abs($l:0,$t:-5000px);
      width:20%;
      background:none;
      .ancient-browser &{
        background:url(.);
      }
      &:before{
        content:'';
        @include abs($l:10px,$t:50%);
        width:30px;
        height:30px;
        margin-top:-15px;
        background:url(#{$box-path}prev.png) center no-repeat;
      }
    }
    #{$prefix}-next:before{
      left:auto;
      right:10px;
      background-image:url(#{$box-path}next.png);
    }
    #{$prefix}-loader{
      @include abs($l:0,$r:0,$t:0,$b:0);
      display:none;
      background:url(#{$box-path}loader.gif) center no-repeat;
    }
    #{$prefix}-zoom{
      @include abs($l:10px,$t:-5000px);
      width:46px;
      height:45px;
      background:url(#{$box-path}zoom-out.png) no-repeat;
      cursor:pointer;
    }
    #{$prefix}-content{
      position:relative;
      background:#fff;
      &:after{
        content:'';
        @include abs($l:0,$r:0,$t:0,$b:0);
        box-shadow:0 0 20px #333;
      }
    }
    #{$prefix}-image{
      opacity:0;
      box-shadow:#000 0 0 0;
    }
    #{$prefix}-title{
      @include abs($l:14px,$b:36px);
      z-index:1;
      font-size:16px;
      padding:8px 16px;
      background:rgba(0,0,0,0.55);
      width:48%;
      opacity:0;
      @include box-ie-title-grad($o:0);
    }
    //--------base class applications
    &#{$prefix}-stretch{
      #{$prefix}-center#{$prefix}-dims{
        @include trs(all .5s ease-in-out);
      }
      #{$prefix}-center#{$prefix}-opacity{
        @include trs(font-size .5s ease-in-out);
      }
      #{$prefix}-content{
        position:absolute;
      }
      #{$prefix}-image{
        width:calc(100% + 1px);
        height:calc(100% + 1px);
      }
      &#{$prefix}-zoomable #{$prefix}-zoom{
        @include box-elements-opacity($o:0);
        background:url(#{$box-path}zoom-in.png) no-repeat;
      }
    }
    &#{$prefix}-gallery{
      &#{$prefix}-ready{
        #{$prefix}-center:hover #{$prefix}-prev,#{$prefix}-center:hover #{$prefix}-next{
          opacity:1;
          @include trs(opacity .3s ease-in-out);
          .ancient-browser &{
            top:0;
          }
        }
      }
      #{$prefix}-prev,#{$prefix}-next{
        top:0;
        bottom:0;
        opacity:0;
        .ancient-browser &{
          top:-5000px;
        }
      }
      #{$prefix}-next{
        left:auto;
        right:0;
      }
    }
    &#{$prefix}-loading #{$prefix}-loader{
      display:block;
    }
    &#{$prefix}-zoomable{
      #{$prefix}-center:hover #{$prefix}-zoom{
        @include box-elements-opacity($o:1);
        @include trs(opacity .3s ease-in-out);
      }
      #{$prefix}-zoom{
        top:10px;
        @include box-elements-opacity($o:0);
      }
    }
    &#{$prefix}-min #{$prefix}-image{
      width:0;
      height:0;
    }
    &#{$prefix}-trs #{$prefix}-image{
      @include trs(opacity .5s ease-in-out);
    }
  }

  #{$prefix}-overlay{
    position:fixed;
    background:#000;
    @include box-elements-opacity($o:0);
    left:0;
    top:-100%;
    width:100%;
    height:100%;
    z-index:3;
    &#{$prefix}-active{
      top:0;
    }
    &#{$prefix}-trs{
      opacity:0.5;
      @include trs(opacity .3s ease-in-out);
    }
  }
}