@include exports("upload"){
  /*partials/shared/components/upload.scss*/
  @include kfs($n:move){
    0%{
      background-position:0 0;
    }
    100%{
      background-position:50px 0;
    }
  }

  .upload{
    position:relative;
    &.max &-file-wrap{
      visibility:hidden;
      position:absolute;
    }
    &-file-wrap{
      display:inline-block;
      position:relative;
    }
    &-file-inner-wrap{
      @include abs($l:0,$t:0);
      width:100%;
      height:100%;
      overflow:hidden;
      input{
        @include abs($l:-10px,$t:-10px);
        font-size:100px;
        cursor:pointer;
        width:150%;
        opacity:0;
      }
    }
    &-file-block{
      position:relative;
    }
    &-file-name{
      white-space:nowrap;
      max-width:90%;
      overflow:hidden;
      display:block;
    }
    &-file-delete{
      @include abs($r:0,$t:-1px);
      text-decoration:none;
      padding:3px;
    }
    &-file-loader{
      margin-top:3px;
      height:18px;
      line-height:18px;
      @include bgi(linear-gradient(-45deg,$refc 25%,#eee 25%,#eee 50%,$refc 50%,$refc 75%,#eee 75%,#eee));
      background-size:50px 50px;
      @include anim($a:move 2s linear infinite);
      overflow:hidden;
      text-align:center;
      border-radius:6px;
      box-shadow:inset 0 18px 12px -12px #fff;
      width:0;
      display:none;
      &.loading{
        display:block;
      }
    }
  }
}